* {
    font-family: "courier new";
    /* background-color: white; */
    padding: auto;
    background-image: src="../images/IMG-20250306-WA0005.jpg" alt="my_image";
}

h1,h2,h3{
    color: red; 
    font-family: 'Arial', sans-serif; 
    font-size: 1.5em; text-align: left; 
    padding: 1px; 
    background-color: #ecf0f1; 
    border-radius: 20px; 
    width: max-content; 
    margin: 1px;
}

h1::first-letter {
    color: black;
}


.img {
    border: solid black 3px;
    border-radius: 50px 50px 0 50px;
    width: 350px;
    height: 500px;
    display: inline-block;
    padding: 5px;
    margin: 1px;

}
.img:hover{
    background-color: red;
}

button {
    font-size: larger;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    color: black;

}

button:hover {
    transform: scale(1.05);
    color: red;
    font-weight: 900;
    background-color: white;
    padding: 0px 0px 0px 0px ;
}

.Portfolio {
    font-size: larger;
    padding: 0px 0px 0px 0px ;
    margin-left: 2%;
   background-color: white;
   color: red;
}

.Portfolio:hover {
    font-size: larger;
    font-weight: bold;
    background-color: white;
    color: red;
    padding: 0px 0px 0px 0px ;
    border-radius: 20%;
}

.right-text {
    color: red;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin: 0% 3% 3% 0% ;
}

#span:hover{
    background-color: beige;
    color: black;
    font-style:italic;
    font-weight: 900;
}

.heading{
    font-weight: bold;
    margin-bottom: 1%;
    display: flex;
}
/* This is the CSS code you provided */
h2:hover {
    background-color: black;
    color: red;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

ul>li:hover{
    background-color: beige;
    font-weight: bold;
    text-align: justify;

}